<div class="w-50 m-auto  my-5">
    <form [formGroup]="shippingAddress" (ngSubmit)="handelCheckout(shippingAddress)">
        <label for="details"> Details : </label>
        <input formControlName="details" type="text" class="form-control mb-2 " id="details">
        <label for="phone"> Phone : </label>
        <input formControlName="phone" type="tel" class="form-control mb-2 " id="phone">
        <label for="city"> City : </label>
        <input formControlName="city" type="text" class="form-control mb-2 " id="city">
        <button class="btn bg-main text-white">
          Pay
        </button>
    </form>
</div>